:root {
  --primary: #07a0c3;
  --secondary: #f0c808;
  --dark: #565264;
  --accent: #e83f6f;
  --white: #fff;
}

body,
h4.lead {
  color: var(--dark);
}

nav {
  background: var(--dark);
}

.logo-font {
  font-family: whomp, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a.btn {
  color: var(--accent);
  text-decoration: none;
  border: solid 1px var(--accent);
}

a.btn:hover {
  color: var(--white);
  background-color: var(--accent);
}
footer {
  background-color: var(--dark);
  padding: 1rem;
}

footer .social > a {
  color: var(--white);
  opacity: 0.75;
}

footer .social > a:hover {
  color: var(--secondary);
  opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}
.bsicon {
  color: rgb(85, 60, 123);
}

.jsicon {
  color: rgb(247, 233, 30);
}

.html5icon {
  color: rgb(227, 76, 38);
}

.cssicon {
  color: rgb(38, 77, 228);
}

main > .container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}

.checklist > li i {
  color: var(--secondary);
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}
